@model WebProject.Domain.Models.WeatherTask.WeatherDayView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherDayView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherTemperatureFeelsLikeCels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherTemperatureFeelsLikeCels)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
